.wp-block-gallery.has-nested-images {
    display: flex !important;
}

.wp-block-gallery.has-nested-images img {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.wp-element-caption {
    text-align: center;
}
.post-template .meta-data {
    display: flex;
    margin-bottom: 20px;
    font-size: .9rem;
    opacity: .9;
}

.post-template .meta-data .author {
    margin-right: 20px;
}