.default-image {
    height: 150px;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: end;
    padding: 10px 20px;

    img {
        margin-bottom: 0px;
    }

    h2 {
        color: #fff;
    }
}

.most-recent {

    .default-image {
        height: 350px;
    }

    a {
        text-decoration: none !important;
    }

    .meta-data {
        display: flex;
        padding: 10px;
        background-color: #3a3b3c;
        color: #fff;
        justify-content: space-between;
        opacity: .8;
    }
}

.post-excerpt {
    padding: 20px 0;
}

.post-list-small h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.post-list-small .meta-data {
    display: flex;
    font-size: .9rem;
    margin-bottom: 10px;
}
.post-list-small .pipe-spacer {
    padding-left: 10px;
    padding-right: 10px;
}